$ff: Roboto, sans-serif;

$thin: 100;
$extra: 200;
$extralight: 200;
$extra-light: 200;
$light: 300;
$normal: 400;
$book: 450;
$regular: 400;
$medium: 500;
$semi: 600;
$semibold: 600;
$semi-bold: 600;
$bold: 700;
$heavy: 800;
$ultra: 800;
$extrabold: 800;
$black: 900;

$dark: #151518;
$white: #F5F5F5;
$gray: #ACACAC;
$red: #BE0000;
$red-hover: #aa0606;

$fz-small: 14px;
$fz-default: 16px;
$fz-large: 24px;